
    <h1>livros</h1>
    <hr>
    <form action="prod/insertprod" method="POST">
        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite o nome do livro">
        </div>

        
    
        <input type="submit" value="Cadastrar">
    </form>

