<h1>Lista de produtos</h1>

<div class="prod-container">
    {{#each listar}}
       <strong> - {{this.id}} </strong> - {{nome}} - qtd em estoque: {{qtd}} <br>
       



    {{/each}}
</div>